{% extends '_base/_page-nav-no-omnisearch.twig' %}
{% block page_nav 'Theme upload' %}
{% block page_title 'Theme upload' %}
{% block page_main %}
{# Upload Theme #}
<style>


.upload-plugin .install-help, .upload-theme .install-help {
	color: #555d66;
	font-size: 18px;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>

<link rel="stylesheet" href="/../extensions/themepicker/web/card.css" />
<div class="col-md-3">
</div>
<div class="col-md-6">







<div class="panel panel-default panel-fileupload">
	<div class="panel-heading">
		<i class="fa fa-fw fa-cloud-upload"></i>
		&nbsp;Upload themes
	</div>
	<div class="panel-body">
		<p>
			Upload theme packages use them on your website.
		</p>
		<p>
			Allowed file types are:
			<span class="label label-default info-pop" data-title="" data-placement="left" data-html="true" data-content="Allowed file types are:<code>rar</code>, <code>zip</code>" data-original-title="" title="">
			<i class="fa fa-info-circle"></i>
			Types
			</span>
		</p>
		<i class="fa fa-fw fa-upload hidden"></i>
		<form name="file_upload" method="post" class="form-horizontal" enctype="multipart/form-data">
			<fieldset>
				<a class="file-input-wrapper btn btn-default  btn-secondary">
					<span>Select file …</span><input type="file" id="file_upload_select" name="file_upload[select][]" required="required" data-filename-placement="inside" title="Select file …" accept=".twig,.html,.js,.css,.scss,.gif,.jpg,.jpeg,.png,.ico,.zip,.tgz,.txt,.md,.doc,.docx,.pdf,.epub,.xls,.xlsx,.ppt,.pptx,.mp3,.ogg,.wav,.m4a,.mp4,.m4v,.ogv,.wmv,.avi,.webm,.svg" multiple="multiple" class="btn-secondary" style="left: -166.25px; top: 10.5px;">
				</a>
				<div>
					<button type="submit" id="file_upload_upload" name="file_upload[upload]" disabled="disabled" class="btn-primary btn"><i class="fa fa-fw fa-upload hidden"></i> Upload file</button>
				</div>
			</fieldset>
			<input type="hidden" id="file_upload__token" name="file_upload[_token]" value="bjRZo6hRWF5DSHDRq8OhoujWpvTHQ-GDu9Tb5HTtKFo">
		</form>
	</div>
</div>








</div>
<div class="col-md-3">
</div>

{% endblock %}
